@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fustat:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*:focus-within{
    outline: 0;
}

.main-container{
    background-repeat: no-repeat;
    background-size: cover;
}
.effect{
    transition: all 0.2s ease-in-out;

}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(54, 54, 54 ,0.7);
    border-radius: 99999px;
}
html{
    scroll-behavior: smooth;
}
.form-image{
    background-repeat: no-repeat;
    background-size: contain;
}
